* {
    padding: 0;
    margin: 0;
    font-family: verdana;
    box-sizing: border-box;
}

header {
    background-color: rgb(138, 206, 242);
    text-align: center;
    padding: 1.5vh;
    color: rgb(221, 247, 255);
    font-size: 2.5vw;
    min-font-size: 24px;
}

footer {
    background-color: rgb(138, 206, 242);
    text-align: center;
    color: rgb(221, 247, 255);
    padding: 1.2vh;
    width: 100%;
    font-size: 1.2vw;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

main {
    padding: 2vh 1vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: calc(100vh - 15vh);
    padding-bottom: 0;
    margin-bottom: 3.6vh;
}

section {
    background-color: rgb(216, 253, 253);
    padding: 1vw;
    border-radius: 10px;
    color: rgb(54, 84, 114);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 5px;
    flex-basis: 30vw;
    max-width: 490px;
    min-width: 300px;
    margin-bottom: 2vh;
}

.title {
    text-align: center;
    padding: 0 0 0.9vh;
    grid-row: 1 / 2;
    font-size: 1.3vw;
    min-font-size: 16px;
}

.image, .overlay {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}

.image {
    cursor: pointer;
    z-index: 1;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
}

.overlay {
    position: relative;
    z-index: 2;
    background-color: rgba(138, 206, 242, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2vw;
    border-radius: 10px;
    pointer-events: none;
}

.image:hover + .overlay {
    opacity: 1;
}

.list {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 1vh;
    color: rgb(54, 84, 114);
}

.products {
    line-height: 1.5;
    color: rgb(54, 84, 114);
    font-size: 1.3vw;
}

.details {
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5vw;
}

.date, .views {
    font-size: 1.2vw;
}

@media (max-width: 600px) {
    section {
        width: 90vw;
        margin: 1vh auto;
    }

    .title {
        font-size: 5vw;
    }

    .list {
        font-size: 4vw;
    }

    .products {
        font-size: 3.5vw;
    }

    .date, .views {
        font-size: 3vw;
    }

    header {
        font-size: 6vw;
    }
}